body{
    background-image: url("image/orig - Copie.jpg");
}

#jeux{
    background-color: black;
    color: white;
    padding-top: 50%;
    margin-top: 5%;

}

#regles{
    background-color: red;
    color: white;
    margin-top: 5%;
}

#compte{
    position: absolute;
    top: 200px;
    left: 50px;
}

#faux{
    position: absolute;
    top: 200px;
    left: 200px;
}

#castor{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
}

#girafe{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 150px;
}

#elephant{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 300px;
}

#lion{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 450px;
}

#singe {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 200px;
}

#vache {width: 100px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 150px;
}
#castor2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 350px;
}

#girafe2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 350px;
    left: 150px;
}

#elephant2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 350px;
    left: 300px;
}

#lion2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 350px;
    left: 450px;
}

#singe2 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 450px;
}

#vache2 {width: 100px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 300px;
}

#win{
    font-size: 25px;
    position: absolute;
    top: 400px;
    left: 42%;
}

#loose{
    font-size: 25px; ;
    position: absolute;
    top: 400px;
    left: 50%;
}

#result{
    padding-top: 10%;
}

#page2{
    color: white;

}

#grandTitre{
    color: red;

}

#titre2{
    text-align: center;
}

#but{
    padding-top: 10%;
}

#placecompt{
    padding-top: 5%;

}

#compte{
    top: 189px;
    left: 95px;
}