body{

    background-image: url("image/orig - Copie.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#jeux{
    background-color: black;
    color: white;
    padding-top: 50%;
    margin-top: 5%;

}

#regles{
    background-color: red;
    color: white;
    margin-top: 5%;
}

#compte{
    position: absolute;
    top: 200px;
    left: 50px;
}

#faux{
    position: absolute;
    top: 200px;
    left: 200px;
}

#castor{
    width: 18%;
    height: 18%;
    position: absolute;
    top: 8%;
}

#girafe{
    width: 18%;
    height: 18%;
    position: absolute;
    top: 8%;
    left: 27%;
}

#elephant{
    width: 18%;
    height: 18%;
    position: absolute;
    top: 8%;
    left: 52%;
}

#lion{
    width: 18%;
    height: 18%;
    position: absolute;
    top: 8%;
    left: 77%;
}

#singe {
    width: 18%;
    height: 18%;
    position: absolute;
    top: 36%;
}

#vache {
    width: 18%;
    height: 18%;
    position: absolute;
    top: 36%;
    left: 27%;
}
#castor2{
    width: 18%;
    height: 18%;
    position: absolute;
    top: 62%;
}

#girafe2{
    width: 18%;
    height: 18%;
    position: absolute;
    top: 62%;
    left: 27%;
}

#elephant2{
    width: 18%;
    height: 18%;
    position: absolute;
    top: 62%;
    left: 52%;
}

#lion2{
    width: 18%;
    height: 18%;
    position: absolute;
    top: 62%;
    left: 77%;
}

#singe2 {
    width: 18%;
    height: 18%;
    position: absolute;
    top: 36%;
    left: 77%;
}

#vache2 {
    width: 18%;
    height: 18%;
    position: absolute;
    top: 36%;
    left: 52%;
}

#win{
    font-size: 25px;
    position: absolute;
    top: 400px;
    left: 42%;
}

#loose{
    font-size: 25px; ;
    position: absolute;
    top: 200px;
    left: 50%;
}

#result{
    padding-top: 10%;
}

#page2{

    color: white;

}

#grandTitre{
    color: red;

}

#titre2{
    text-align: center;
}

#but{
    position: absolute;
    top: 15%;
}

#placecompt{
    position: absolute;
    top: 50%;

}

#compte{
    position: absolute;
    top: 50%;
    left: 30%;
}

#rejouer{
    display: none;
    position: absolute;
    top: 450px;
    left: 45%;

}